<h2>Signup</h2>
<form action="/api/products" method="post">
  title:
  <input type="text" name="title" id="title" />
  description
  <input type="text" name="description" id="description" />
  price
  <input type="number" name="price" id="price" />
  code
  <input type="text" name="code" id="code" />
  stock
  <input type="number" name="stock" id="stock" />
  status
  <input type="checkbox" name="status" id="status" />
  category
  <input type="text" name="category" id="category" />
  <input type="submit" value="SIGNUP" />
</form>